.dashboard-container {

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 20px;
            color: $black;
            margin-bottom: 10px;
            font-weight: 600
        }

        button {
            @include buttons(black);
            font-size: 14px;
            padding: 10px;
            border: none;
        }
    }

    .category-body {
        margin-top: 50px;

        .table {
            @include table();

            th,
            td,
            tr {
                border: 1px solid $border-color !important;
                text-transform: capitalize;
            }

            .image-box {
                height: 100px;
                width: 100%;
                border-radius: 5px;

            }

            .delete {
                color: red;
                cursor: pointer;
            }
        }
    }
}