.dashboard-container {

    h1 {
        font-size: 20px;
        color: $black;
        margin-bottom: 10px;
        font-family: 'Helvetica Light';
        font-weight: 600
    }

    input {
        @include input($border-color);
        width: 350px;
        height: 45px;
    }

    .category-body {
        margin-top: 50px;

        .table {
            @include table();

            th,
            td,
            tr {
                border: 1px solid $border-color !important;
            }

            .delete {
                color: red;
                cursor: pointer;
            }
        }
    }
}