.create-order {
  padding: 30px 20px;
  padding-left: 250px;
  padding-top: 130px;
  margin-bottom: 130px;
  // background: $hero-background;
}


.form {
  // max-width: 800px;
  margin: 0 auto 50px auto;

  @media (max-width: 1180px) {
    padding-top: 200px;
  }

  @media (max-width: 991px) {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  label {
    font-size: 14px;
    color: $text-color;
    margin-top: 24px !important;
    margin-bottom: 8px;
    line-height: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .receivers-box {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .write-address {
      width: 60%;

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    .choose-state {
      width: 40%;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .address-note {
    font-size: 12px;
    cursor: pointer;
    color: $text-color;
    margin-top: 4px;
  }

  .add-new {
    font-size: 12px;
    cursor: pointer;
    color: #de8500;
    margin-top: 4px;
    text-decoration: underline;
    margin-bottom: 8px;
  }

  input,
  textarea {
    display: block;
    @include input($border-color);
    width: 100% !important;
    padding: 13px 16px;
    border-radius: 5px;
    position: relative;
    background: transparent !important;

    &:focus {
      border: 1px solid $primary-color;
    }

    &:disabled {
      cursor: no-drop;
      color: $light-color;
    }
  }

  input {
    height: 45px;
  }

  .form-select {
    // padding: 13px 16px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid $border-color;
    // @include select("transparent", $border-color);

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  .upload-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

    .file-up {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0 !important;
    }
  }

  .basic-select {
    font-size: 14px !important;
    border: 1px solid $border-color;
    border-radius: 5px;

    &.focus {
      border: 1px solid $primary-color !important;
    }
  }

  p {
    font-size: 12px;
    color: $light-color;
    margin-bottom: 8px;
  }

  .details {
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px rgba(225, 230, 239, 1);

    &.neutral {
      border: solid 1px rgba(225, 230, 239, 1);
    }

    &.active {
      border: solid 1px $primary-color;
    }

    label {
      margin-bottom: 0;
      margin-right: 20px;
      color: rgba(51, 51, 51, 0.5);

      &#num {
        width: 146px;
      }
    }

    input {
      border: none;
      border-radius: 0;

      &:first-child {
        border-bottom: solid 1px rgba(225, 230, 239, 1);
      }

      &::-webkit-input-placeholder {
        color: $light-color;
      }
    }
  }

  button#next {
    @include next-btn;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border: none;
    width: 170px;
    height: 50px;

    &:disabled {
      background: $light-color;

    }
  }

  button#img {
    width: 100%;
    border-radius: 10px;
    padding: 19.5px;
    border: 1px solid rgba(225, 230, 239, 1);
    background-color: rgba(248, 249, 252, 1);

    p {
      font-size: 12px;
      font-weight: 400;
      color: rgba(51, 51, 51, 0.5);
    }

    small {
      color: rgba(0, 0, 0, 0.85);

      i {
        margin-right: 10px;
      }
    }
  }


  #schedule {
    margin-bottom: 30px;

    input {
      display: inline;
      width: unset;
      margin-right: 8px;
      border: 1px solid rgba(217, 217, 217, 1);
    }

    label {
      margin: 0 !important;
      color: rgba(51, 51, 51, 0.5);

      &.active {
        color: rgba(51, 51, 51, 1);
      }
    }
  }

  .image-scroll {
    @media (max-width: 500px) {
      overflow-x: auto;
      padding: 5px 0;
    }
  }

  .square-box {
    display: flex;
    align-items: center;
    column-gap: 20px;

    .squre-img {
      @include squre-image(104px);
      position: relative;

      .delete {
        background-color: rgba(241, 243, 249, 1);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        right: -10px;
        top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
          font-size: 8px;
        }
      }
    }

    @media (max-width: 500px) {
      width: 600px;
    }
  }



  button#multiple-img {
    height: 104px;
    width: 104px;
    border-radius: 2px;
    border: 2px dashed rgba(225, 230, 239, 1);
    background-color: rgba(241, 243, 249, 1);
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.45);

    i {
      color: rgba(0, 0, 0, 1);
    }
  }

  .main-color-input {

    input {
      height: 40px;
      cursor: pointer;
      width: 80%;
    }
  }

  .product-colors {
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
    width: 100%;
    flex-wrap: wrap;
  }

  .product-colors-box {
    height: 70px;
    width: 70px;
    margin-right: 15px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid var(--light-color);
  }

  .productcolors-btn {
    border: 1px solid var(--light-color) !important;
  }
}