.footer {
  background: var(--black-color);
  padding: 100px 0 50px 0;

}

.footer-cards {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  border: 1px solid $filter-color;
  border-radius: 10px;
  padding: 30px;

  .footer-logo {
    height: 100px;
    width: 100px;
    margin: 0 auto;

    img {
      height: 100%;
      width: 100%;
      margin-bottom: 10px;
      object-fit: contain;
    }
  }
}

.footer-cards p {
  font-size: var(--font-smallest);
  color: var(--secondary-color);
  font-family: "Nunito Sans";
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--white-color);
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
}

.footer-social {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  color: $primary-color;
  transition: var(--transitions);

  &:hover {
    color: var(--white-color);
  }
}

.footer-rights {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 100px;
  font-size: var(--font-small);
  display: block;
  color: var(--white-color);
  // border-top: 0.5px solid $filter-color;
  padding: 30px 0 0 20px;
}