.footer {
  // background: var(--black-color);
  padding: 50px 0 50px 0;

}

.footer-cards {
  border-radius: 10px;

  .footer-logo {
    width: 120px;
    margin-bottom: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  h3 {
    @include heading(21px, 600);
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: $text-color;
    font-family: "Nunito Sans";
    font-weight: 700;
    color: $black;
    margin-bottom: 0px;
    font-style: italic
  }

  small {
    @include body-text(14px, 500, $black);
    line-height: 20px;
    display: block;
    width: 50%;
    margin-bottom: 10px;
  }
}


.footer-icons {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.footer-social {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  color: $primary-color;
  transition: var(--transitions);

  &:hover {
    color: $primary-color;
  }
}

.footer-bottom {
  color: $black;
  text-align: center;
  margin-top: 70px;
  font-size: 13px;
  display: block;
  color: $black;
  border-top: 1px solid $border-color;
  padding-top: 50px;
}