.my-orders-table {
  border: none !important;
  background: $white;
  padding: 30px;
  border-radius: 5px;
}

.product-container {
  // .product-top: {}

  .product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.transaction-loading {
  margin-top: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}