.search {
  overflow-x: auto;
  margin: 30px auto;
}

.search-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background: var(--white-color);
  padding: 15px 10px 5px 10px;
  border: 1px solid $primary;
}

.search-card {
  padding: 10px;
}

.search-card label {
  font-size: var(--font-smaller);
  color: var(--black-color);
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}

.search-card select {
  color: var(--text-color);
  padding: 10px;
  min-width: 200px;
  border: 1px solid var(--light-color);
  cursor: pointer;
  outline: none !important;
  font-weight: 600;
  font-size: var(--font-smaller);
}

.search-card select:focus {
  border: 1px solid var(--light-color) !important;
}

.search-card button {
  background: var(--secondary-color);
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 30px;
  font-size: var(--font-smaller);
  margin-top: -5px;
}

.search .search-error {
  font-size: 11px;
  color: red;
  text-align: center;
  display: block;
  margin-top: 10px;
}