.best-offer {
  width: 100%;
  background: var(--light-blue-color);
  padding: 150px 0;
}

/* best offer left */
.best-offer-left {
  display: flex;
  align-items: center;
  height: 70vh;

  .image-box {
    height: 100%;
    width: 100%;

    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* best offer right */
.best-offer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70vh;
}

.best-offer-box {
  text-align: right;
}

.best-offer-box h5 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: var(--font-mid);
  text-transform: uppercase;
}

.best-offer-box h1 {
  width: 90%;
  font-size: 40px;
  line-height: 50px;
  margin-left: auto;
  color: var(--secondary-color);
  font-family: "Helvetica Bold";
}

.best-offer-box p {
  color: var(--text-color);
  font-size: var(--font-mid);
  width: 80%;
  margin-left: auto;
}

.best-offer-box button {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: var(--font-smallest);
  transition: var(--transition);
}

.best-offer-box button:hover {
  background: var(--blue-color);
}
