.main-cart {
  padding: 130px 10px;
  width: 100%;
  position: relative;
}

.main-cart-center {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 30px;
}

.main-cart-left {
  width: 80%;
  background: var(--white-color);
  border-radius: 5px;
  padding-bottom: 40px;
  border: 1px solid var(--light-color);
}

.main-cart-left h2 {
  padding: 20px;
  font-size: var(--font-med);
  font-weight: bold;
  margin-bottom: -20px;
  font-family: "Roboto";
}

.chevron-back {
  margin-top: -3px;
  cursor: pointer;
}

.cart-bottom {
  padding: 0px 20px;
}

.cart-item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--light-color);
}

.cart-item:last-child {
  border-bottom: 0;
}

.item-left {
  width: 80%;
  display: flex;
}

.item-image {
  height: 150px;
  width: 150px;
  border: 1px solid var(--light-color);
  margin-right: 10px;
  /* border-radius: 10px; */
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 10px; */
}

.item-details h5 {
  font-size: var(--font-mid);
  /* font-weight: lighter; */
  font-family: "Roboto";
}

.item-details small {
  display: block;
  line-height: 30px;
  font-size: var(--font-smaller);
  color: var(--text-color);
  font-family: "Inter";
}

.item-details .remove {
  color: var(--red-tag-color);
  cursor: pointer;
  font-size: var(--font-smaller);
}

.trash {
  margin-top: -4px;
  margin-right: 5px;
}

.clear-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  background: var(--primary-color);
  padding: 8px 20px;
  height: 40px;
  width: 110px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white-color);
  font-size: 12px;
  border-radius: 5px;
}

.item-right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.item-right h2 {
  color: var(--secondary-color);
  font-size: var(--font-mid);
  margin-top: 10px;
}

.old-price {
  text-decoration: line-through;
  color: var(--light-color);
  font-size: var(--font-mid);
  margin-top: 10px;
}

/* main-cart right */
.main-cart-right {
  width: 20%;
  background: var(--white-color);
  box-shadow: var(--shadoos);
  position: sticky;
  top: 130px;
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid var(--light-color);
}

.main-cart-right h3 {
  font-size: var(--font-mid);
  font-weight: 700;
  font-family: "Roboto";
}

.order-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 5px;
}

.sub-total {
  font-weight: bold;
  font-size: var(--font-mid);
}

.main-cart-right button {
  padding: 12px 30px;
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  font-size: var(--font-smaller);
}

/* The section of the empty cart */
.main-cart-empty {
  background: var(--white-color);
  box-shadow: var(--shadoos);
  border-radius: 10px;
  padding: 50px 10px;
  border: 1px solid var(--light-color);
  width: 100%;
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.cart-bottom-box {
  height: 190px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  margin-bottom: 20px;
}

.cart-bottom-box img {
  width: 100%;
  height: 100%;
}

.cart-bottom-box .cart-plus {
  font-size: var(--font-larger);
  color: var(--primary-color);
}

.cart-empty h3 {
  font-size: var(--font-med);
  font-family: "Inter";
  color: var(--primary-color);
}

.start-shopping {
  padding: 10px 25px;
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 30%;
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  text-transform: uppercase;
}
