.checkout {
  padding: 130px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  column-gap: 20px;
}

.checkout-left {
  width: 70%;
  background: var(--white-color);
  border-radius: 5px;
  padding-bottom: 40px;
  padding: 10px 30px;
  border: 1px solid var(--light-color);
}

.checkout-address {
  h2 {
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
    color: var(--black-color);
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    color: var(--light-color);
    font-weight: 400;
  }
}

.address-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadoos);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;

  span {
    text-transform: capitalize;
  }

  small {
    display: block;
    color: var(--light-color);
    line-height: 25px;
  }

  button {
    background: var(--black-color);
    border: none;
    color: var(--white-color);
    padding: 8px 20px;
    font-size: var(--font-smaller);
    cursor: pointer;
    outline: none;
    border-radius: 5px;

    &:hover {
      background: var(--secondary-color);
    }
  }
}

.address-details {
  padding: 20px 0;
  font-size: var(--font-mid);
  font-weight: bold;
  text-transform: uppercase;
}

/* checkout form section */

.shipping-info {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: var(--shadoos);
}

.checkout-form {
  .form-group {
    margin-bottom: 20px !important;
  }

  input {
    padding: 13px;
    border: 1px solid var(--light-color) !important;
    outline: none;
    font-size: var(--font-smaller);
    color: var(--text-color) !important;
    border-radius: 5px;
    width: 100%;
  }

  .input {
    padding: 13px;
    border: 1px solid var(--light-color) !important;
    color: var(--text-color) !important;
    outline: none;
    font-size: var(--font-smaller) !important;
    border-radius: 5px;
    width: 100%;
  }
  select {
    padding: 13px;
    border: 1px solid var(--light-color) !important;
    color: var(--text-color) !important;
    outline: none;
    font-size: var(--font-smaller) !important;
    border-radius: 5px;
    width: 100%;
  }
}

.pay-buttons {
  button {
    padding: 15px 35px;
    color: var(--white-color);
    border: none;
    outline: none;
    background: var(--black-color);
    text-transform: uppercase;
    font-size: var(--font-smaller);
    margin-right: 10px;
    border-radius: 5px;
  }
}

/* checkout right */
.checkout-right {
  width: 30%;
  background: var(--white-color);
  position: sticky;
  top: 130px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--light-color);
}

.checkout-right h3 {
  font-size: var(--font-smallest);
  font-weight: 700;
  text-transform: uppercase;
}

.checkout-right h3 span {
  text-transform: lowercase;
  font-weight: normal;
  font-size: var(--font-smallest);
}

.order-section {
  overflow-y: auto;
}

.order-sect {
  overflow-y: auto;
  height: 250px;
}

.order-sect::-webkit-scrollbar {
  width: 6px;
}
.order-sect::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-color);
  border-radius: 10px;
}
.order-sect::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.orders {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order-image {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.order-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-detail h5 {
  font-weight: 600;
  font-size: var(--font-smaller);
  margin-top: 5px;
  padding-right: 5px;
}

.order-detail p {
  color: var(--text-color);
  font-size: var(--font-smaller);
  margin-top: -3px;
  font-weight: 600;
}

.order-detail p {
  color: var(--black-color);
}

/* orderr calculation */
.calculate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculate small {
  font-size: var(--font-mid);
}

.calculate small strong {
  font-size: var(--font-med);
}

.order-calculation h4 {
  text-align: center;
  color: var(--primary-color);
  font-size: var(--font-smallest);
  padding-top: 4px;
  cursor: pointer;
}
