.product-detail {
  padding: 120px 0;
}

.detail-loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.detail-left {
  height: 400px;
}

.detail-left a {
  font-size: var(--font-smallest);
  color: var(--text-color);
}

.detail-left .thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.detail-left .thumb img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border: 1px solid var(--light-color);
  cursor: pointer;
  margin-right: 10px;
}

.detail-left .thumb img:last-child {
  margin-right: 0 !important;
}

.image-active {
  border: 2px solid var(--primary-color) !important;
}

.detail-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-blue-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.detail-image:hover {
  background-size: 150%;
  cursor: zoom-in;
}

/* detail right */
.detail-right {
  padding: 0 10px;

  p {
    font-size: 26px;
    color: var(--black-color);
    font-weight: 500;
  }

  .detail-price {
    font-size: 30px;
    font-weight: 700;
  }
}

.colors-section {
  margin-top: 25px;
}

.colors-section small {
  font-weight: 600;
  font-size: var(--font-smaller);
  margin-bottom: 4px;
  display: block;
}

.color-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.main-color {
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.actual-color {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--black-color);
}

.active-color {
  border: 1px solid red;
  padding: 10px 0;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

/*  */
.discount-box {
  margin-top: 20px;
  p {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.discounts {
  background: red;
  color: var(--white-color);
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 600;
}

.quantity {
  display: flex;
  width: 100px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.quantity .calc {
  width: 30px;
  height: 30px;
  background: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
}

.fa-counts {
  font-size: 10px;
}

.quantity .counts {
  font-weight: 700;
  font-size: var(--font-small);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  font-family: "Roboto";
  font-weight: 700;
}

.add-cart {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 9px 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 30px;
  border: 2px solid var(--secondary-color);
  font-size: var(--font-smaller);
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continue-shopping {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 9px 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 30px;
  border: 2px solid var(--secondary-color);
  font-size: var(--font-smaller);
  font-weight: 700;
}

.cart-plus {
  font-size: var(--font-mid);
  margin-right: 15px;
}

.count-container {
  margin-top: 35px;
  margin-bottom: 10px;

  p {
    font-size: 16px;
  }
}

.count-box {
  display: flex;
  align-items: center;
  column-gap: 20px;

  button {
    border: none;
    background: transparent;
  }

  .bi {
    font-size: 50px !important;
  }

  p {
    margin-bottom: 0;
  }
}

/* ================================ */
/* Description section */
.description {
  background: var(--white-color);
  box-shadow: var(--shadoos);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 60px auto;
  position: relative;
  border: 1px solid var(--light-color);
}

/* =============================== */
/* more products */
.more-products {
  width: 100%;
  margin: 250px auto 100px auto;
}

.more-products h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: var(--font-medium);
}

.more-products-center {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 3rem;
}
