.header-heading {
  font-size: 40px;
  color: var(--black-color);
  text-align: center;
  font-family: "Helvetica Bold";
}

.header-paragraph {
  font-size: var(--font-mid);
  color: var(--text-color);
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
