.order-details-center {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid var(--light-color);
  background: var(--white-color);
}

.order-details-center h1 {
  text-align: center;
  font-size: var(--font-bigger);
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: "Roboto";
}

.order-arrow-left {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.arrow-left {
  cursor: pointer;
  font-size: var(--font-big);
}

.create-pdf-button {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 8px 15px;
  border: none;
  outline: none;
}

.orders-buttons {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 70px;
}

.orders-buttons button {
  width: 150px;
  height: 40px;
  border-radius: 3px;
  background: purple;
  color: var(--white-color);
  font-size: var(--font-smaller);
  border: none;
  outline: none;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-details-center .order-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-color);
  margin-bottom: 15px;
}

.order-box h3,
.order-box p {
  font-size: var(--font-smaller);
  font-weight: 600;
}

/* table section */
.order-details-center table {
  border: 1px solid var(--light);
  /* width: 66rem; */
  margin-top: 50px;
}

table td {
  border: 1px solid var(--light-color);
}

-image {
  width: 50px;
  height: 50px;
  border: 2px solid var(--border-color);
}

-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-edit-icon {
  margin-right: 15px;
}

/* .total-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

} */

.order-details-center .order-total-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--light-color);
  margin-bottom: 20px;
  margin-top: 30px;
}

.order-total-box h3,
.order-total-box p {
  font-size: var(--font-smallest);
  font-weight: 600;
}

.transaction-loading {
  margin-top: 70px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#print {
  font-family: "IPAexGothic", sans-serif;
}
