.navbar {
  width: 100%;
  position: fixed !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background: var(--white-color);
  height: 100px;
  box-shadow: var(--shadoos);
}

.heading {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.logo-module {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 80px;

  img {
    height: 80%;
    width: 80%;
    object-fit: contain;
  }
}

/* ----------------------------- */
/* The toggle menu */
.display-menu {
  display: none;
  width: 55%;
  align-items: center;
  justify-content: space-between;
}

.display-menu .menu-btn {
  border: none;
  background: transparent;
  outline: none;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-box {
  display: flex;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.no-auth {
    column-gap: 60px;
  }
}

/* ------------------------------- */
/* The nav select */
.nav-select {
  background: var(--secondary-color);
  color: var(--white-color);
  border-radius: 5px 0 0 5px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  font-size: var(--font-smaller);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}

.arrow-down {
  margin-left: 6px;
  margin-top: -3px;
}

.select-dropdown {
  padding: 10px 15px;
  color: var(--black-color);
  font-weight: normal;
  text-transform: capitalize;
}

.category-icon {
  margin-right: 8px;
  margin-top: -3px;
}

.select-dropdown:hover {
  background: var(--light-blue-color);
}

/* The nav search */
.nav-search {
  background: var(--white-color);
  padding: 6px 15px;
  width: 400px !important;
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--light-color);
}

.nav-search input {
  background: transparent;
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
  color: var(--light-color);
  font-size: var(--font-smaller);
}

.nav-search ::-webkit-input-placeholder {
  font-size: var(--font-smaller);
}

/* nav div */
.nav-div {
  width: 30%;
}

/* The auth div */
.auth-div {
  display: flex;
  align-items: center;
}

.auth-div button {
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  color: var(--black-color);
  padding: 10px 20px;
  font-size: var(--font-smaller);
}

.auth-div .sign-up {
  margin-right: 15px;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

/* ----------------------------------------- */
/* User Dropdown */

.user {
  cursor: pointer;
  position: relative;
}
.user img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}
.user-dropdown {
  color: var(--light-color);
  margin-left: 3px;
  margin-top: 5px;
  font-size: var(--font-smaller);
}

.user-div {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  /* margin-bottom: 8px; */
}

.user-div:hover {
  background: var(--light-blue-color);
  font-weight: 600;
}

.user-div-icons {
  font-size: var(--font-med);
  margin-right: 15px;
  color: var(--black-color);
}

.seller {
  font-size: var(--font-medium);
}

.logout {
  color: var(--red-tag-color);
}

.user-div .link a {
  font-size: 13px;
  color: var(--black-color);
}

.user-div .link {
  font-size: 13px;
  color: var(--black-color);
  cursor: pointer;
}

/* --------------------------------------- */
/* Cart section */
.cart {
  display: flex;
  align-items: center;
  color: var(--black-color);
  font-weight: bold;
  position: relative;
  cursor: pointer;
  height: 40px;
}

.carting {
  margin-top: 5px;
  font-size: 13px;
}

.count {
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--white-color);
  margin-left: 5px;
  margin-top: 2px;
  font-size: 9px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center !important;
  justify-content: center;
  font-weight: normal;
  padding-top: 2px;
}

/* ================================================== */
@media screen and (max-width: 990px) {
  .display-menu {
    display: flex;
  }

  .container-fluid .menu-btn {
    display: block;
    float: right;
  }
}
