.register {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--white-color);
  height: 100vh;
}

/* register left */
.register-left {
  width: 50%;
  text-align: left;
  align-items: center;
  position: relative;
  background-image: url("/images/3.jpeg");
  background-size: cover;
  background-position: center;
  background-color: var(--secondary-color);
}

.register-left::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.952));
  bottom: 0;
  left: 0;
}

.register-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.register-top img {
  width: 105px;
  height: 100%;
  margin-bottom: 10px;
}

.register-top h2 {
  font-size: var(--font-largest);
  font: weight 700;
  font-family: "Alfa Slab One";
  -webkit-text-stroke: 1px var(--white-color);
  /* color: var(--primary-color); */
  color: transparent;
}

.register-top button {
  background: var(--secondary-color);
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: var(--font-smaller);
}

/* =============================== */
/* The signup modal right */
.register-right {
  width: 50%;
  text-align: left;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-right::-webkit-scrollbar {
  width: 8px;
}
.register-right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-color);
  border-radius: 10px;
}
.register-right::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.register-form {
  width: 60%;
  margin: 0 auto;
}

.register-right h1 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: var(--font-medium);
  -webkit-text-stroke: 1px var(--primary-color);
  color: var(--primary-color);
}

.register-right small {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: var(--font-smaller);
}

.register-right small b {
  color: var(--blue-color);
}

.form_group {
  position: relative;
  margin-bottom: 20px !important;
}

.register-right .eyees {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(40%);
}
.register-right .eyee {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(15%);
}

.register-right .ey {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(14%);
}

.register-right .eye {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(14%);
}

.register-right .eyes {
  position: absolute;
  top: 33%;
  right: 12px;
  cursor: pointer;
  opacity: 0.3;
  transform: translateY(40%);
}

.form_group label {
  font-size: var(--font-smallest);
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 5px;
  font-size: 12px;
}

.register-right input[type="text"] {
  padding: 10px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--light-color) !important;
  /* margin-bottom: 10px !important; */
  font-size: 12px;
  border-radius: 4px;
}

.register-right input[type="password"] {
  padding: 10px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--light-color) !important;
  /* margin-bottom: 10px !important; */
  font-size: 12px;
  border-radius: 4px;
}

.register-right input[type="number"] {
  padding: 10px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--light-color) !important;
  /* margin-bottom: 10px !important; */
  font-size: 12px;
  border-radius: 4px;
}

.register-right #input {
  padding: 10px;
  width: 100%;
  height: 45px !important;
  outline: none !important;
  border: 1px solid var(--light-color) !important;
  /* margin-bottom: 10px !important; */
  font-size: 12px;
  border-radius: 4px;
}

.phoneinput input {
  background: transparent;
  border: none !important;
  outline: none !important;
  padding-top: 2px;
  background: yellow;
}

.register-right::-webkit-input-placeholder {
  font-size: 12px;
}

.register-right .form_group button {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 12px 9px;
  height: 45px;
  width: 100%;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 3px;
  /* margin-top: 10px; */
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg {
  margin-top: 10px;
  text-align: center;
}

.input_feedback {
  color: red;
  margin-top: 5px;
  font-size: 10px;
  margin-bottom: 0px;
}

.input_feed {
  color: var(--text-color);
  margin-top: 5px;
  font-size: 9px;
  margin-bottom: 0px;
}

.validate {
  padding: 10px;
  background: blue;
  margin: 5px 0;
}

.validate p {
  font-size: var(--font-smalling);
  margin-bottom: 5px;
}
