.reset-password {
  text-align: center;
  padding: 40px;
}

.reset-password h3 {
  font-size: var(--font-med);
  line-height: 30px;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  color: var(--primary-color);
  font-weight: 700;
}

.input-group {
  text-align: center;
  margin-bottom: 20px;
}

.reset-password input {
  height: 50px;
  width: 100%;
  display: block;
  outline: none;
  border: 1px solid var(--light-color);
  padding: 15px;
}

.reset-password ::-webkit-input-placeholder {
  font-size: var(--font-smaller);
}

.reset-password button {
  background: var(--secondary-color);
  color: var(--white-color);
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--font-smaller);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel {
  position: absolute;
  top: -5%;
  right: -9%;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
