.secure {
  text-align: center;
  margin-top: 100px;
  padding: 80px 0;
  background: var(--lighter-color);
}

/* The section of the secure box */
.secure-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 70%;
  margin: 60px auto 0 auto;
  padding: 20px 40px;
}

.secure-card {
  border-radius: 10px;
  background: var(--white-color);
  padding: 30px 15px 50px 15px;
  border: 1px solid var(--blue-color);
  box-shadow: var(--shadoos);
}

.secure-card img {
  width: 60px;
  height: 60px;
}

.secure-card h1 {
  font-size: var(--font-mid);
  margin-top: 15px;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 600;
  font-family: "Roboto";
}

.secure-card p {
  width: 100%;
  font-size: 14px;
}
