.transaction {
  margin-top: 40px;
}

/* transaction top */
.transaction-top {
  text-align: center;
  padding: 30px 10px;
}

.transaction-top h2 {
  font-size: var(--font-biggest);
  font-weight: bold;
}

.transaction-top p {
  width: 40%;
  margin: 0 auto;
  color: var(--text-color);
  margin-bottom: 20px;
}

/* transaction bottom */
.transaction-bottom {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  width: 100%;
}

/* transaction-bottom left */
.transaction-bottom-left {
  width: 40%;
  display: flex;
  align-items: center;
}

.transaction-box h5 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: var(--font-mid);
}

.transaction-box h1 {
  font-weight: 800;
  font-size: var(--font-large);
  line-height: 40px;
  color: var(--primary-color);
}

.transaction-box ul {
  padding: 0 !important;
}

.transaction-box ul li {
  color: var(--text-color);
  font-size: var(--font-mid);
}

.transaction-check-circle {
  color: var(--secondary-color);
  margin-right: 8px;
  margin-top: -2px;
}

.transaction-box button {
  background: var(--secondary-color);
  color: var(--white-color);
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: var(--font-smallest);
  transition: var(--transition);
}

.transaction-box button:hover {
  background: var(--blue-color);
}

/* transaction-bottom right */
.transaction-bottom-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.transaction-bottom-right {
  background: orange;

  .image-box {
    height: 600px;
    width: 100%;

    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
