// color declaration
$primary-color: #D7B160;
$secondary-color: #141414;
$white: #ffffff;
$black: #000000;
$text-color: #707070;
$border-color: #F3F3F3;
$deep-color: #F4F4F4;
$light-color: rgba(51, 51, 51, 0.5);
$line-color: rgba(200, 198, 198, 0.771);
$text-danger: red;
$background-color: #F5F6F8;
$off-white: #fafafa;
$orange-color: #8D4F26;
$section-color: #F2F6F7;
$hero-background: #ECECE6;
$filter-color: #959496;
// $color:#22DE6D;
// $color:#E854FF;
// $color:#61FFDC;
$color: #071bca;